@model CKK.Logic.Models.Product

<div class="card" style="width: 18rem; padding: 5px;">
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Name</h5>
        <p class="card-text">@Model.Price.ToString("c")</p>
        <p class="card-text">Quantity Available: @Model.Quantity</p>
        <br />
    </div>
    <div class="card-footer">
        
        <a class="nav-link" href="/Shop/ShoppingCart/Add/@Model.Id?quantity=1">Add 1 to cart</a>
    </div>
</div>

